<flynt-component load:on="idle" name="BlockAbout">
  <div class="about-container">
    <div class="about-title">
      <h1>{{ title }}</h1>
      <h2>{{ subtitle }}</h2>
      <div class="bubble">
        {{ bubble }}
      </div>
    </div>
    <div class="about-content">
      <img class="about-image" src="{{ image }}">
      <div class ="about-description">
        <p>{{ description }}</p>
      </div>
    </div>
  </div>
</flynt-component>
