<flynt-component load:on="idle" name="BlockHero" style="--hero-bg: url('{{ image }}');">

    <div class = "hero-left">
      <div class = "hero-text">
        <h1>{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
        <p>{{ description }}</p>
        <a class="button" href="{{ button.url }}">{{ button.title }}</a>
      </div>
    </div>
    <div class = "hero-right">
    {% if bubble.0 %}
      <div class = "bubble" style="margin-top: 24.7rem;">
        {{ bubble.0.content }}
      </div>
    {% endif %}
    {% if bubble.1 %}
      <div class = "bubble" style="margin-right: 2rem; margin-top: 0.2rem;">
        {{ bubble.1.content }}
      </div>
    {% endif %}
    {% if bubble.2 %}
      <div class = "bubble" style="margin-top: 24.7rem; margin-right: 1.9rem;">
        {{ bubble.2.content }}
      </div>
    {% endif %}
      <div class = "bubble-container" style="margin-top:10.2rem;">
      {% if bubble.3 %}
        <div class = "bubble">
          {{ bubble.3.content }}
        </div>
      {% endif %}
      {% if bubble.4 %}
        <div class = "bubble" style="margin-top: 2rem;">
          {{ bubble.4.content }}
        </div>
      {% endif %}
      </div>
    </div>

</flynt-component>
