<flynt-component name="ContactForm" style="--footer-bg: url('{{ backgroundImage }}');">
  <div class = "contact-form-container">  
    <div class = "contact-form-left">
      <form method="post" class="contact-form">
        <h1 class = "contact-title">{{ formSettings.formTitle }}</h1>
        <div class="form-group">
          {% for field in formSettings.fields %}
            <input {% if field.fieldType == "textarea" %}class="contact-form-textarea"{% else %}class="contact-form-input"{% endif %} type="{{ field.fieldType }}" id="{{ field.fieldName }}" name="{{ field.fieldName }}" placeholder="{{ field.fieldLabel }}" {% if field.required %}required{% endif %}>
          {% endfor %}
        </div>
        {% if formSettings.submitButtonText %}
          <div class = "under-form">
            <div class = "privacy-checkbox">
              <input type="checkbox" class = "myinput" required>
              <p>Piekrītu <a href="#">Privātuma Politikai</a></p>
            </div>
            <button class="button-submit" type="submit">{{ formSettings.submitButtonText }}</button>
          </div>
        {% endif %}
      </form>
    </div>
  </div>
</flynt-component>
