<flynt-component name="BlockContacts" load:on="visible">
  <div class="container">
    <div class = "wrap">
      <div class = "content">
        <h1 class = "title">{{ title }}</h1>
        <p class = "paragraph">{{ paragraph }}</p> 
        <div class = "contact-info">
          <h1>Kontaktinformācija</h1>
          <div class = "grid">
            {% for item in contacts %}
              <div>
                <h2>{{ item.title }}</h2>
                <p>{{ item.value }}</p>
              </div>
            {% endfor %}
          </div>
          <div class = "socials">
            <h1>{{socialsSection.title}}</h1>
            <div style="display: flex; gap: 1.1rem;">
              {% for item in socialsSection.socials %}
                <a class="icon" href="{{ item.link }}"><img src="{{ item.icon }}" alt=""></a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="form">
        {{ renderComponent("ContactForm") }}
      </div>
    </div>
  </div>
</flynt-component>
