<flynt-component name="GridPostsArchive" load:on="visible">
  <div class="container">
    <div class="posts-header">
      {% if title %}
        <h2 class="archive-title">{{ title }}</h2>
      {% endif %}
      {% if subtitle %}
        <p class="archive-subtitle">{{ subtitle }}</p>
      {% endif %}
    </div>

    {% if posts|length %}
    <div class="news-list grid">
      {% for post in posts %}
        <article class="news-item">
          <time class="date" datetime="{{ post.date|date('c') }}">
            {{ post.date|date('j. M') }}
          </time>
          <a href="{{ post.link }}">
            <img class="thumbnail" src="{{ post.thumbnail }}">
          </a>
          <a href="{{ post.link }}" class="post-link"><p>{{ post.title }}</p></a>
        </article>
      {% endfor %}
    </div>
    {% else %}
      <p class="posts-empty">{{ __('No post found.', 'flynt') }}</p>
    {% endif %}

    {% set pagination = posts.pagination %}
    {% if pagination.pages %}
      {% include 'Partials/_pagination.twig' %}
    {% endif %}
  </div>
</flynt-component>
