<flynt-component load:on="idle" name="BlockActivities">
  <div class="activities-container">
    <div class="activities-left">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </div>

    <svg class="dotted-overlay" width="757" height="274" viewBox="0 0 757 274" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <rect width="757" height="274" fill="url(#pattern0_14_550)" fill-opacity="0.1"/>
      <defs>
        <pattern id="pattern0_14_550" patternUnits="userSpaceOnUse" patternTransform="matrix(10.15 0 0 10.15 0 0)" preserveAspectRatio="none" viewBox="0 0 14.5 14.5" width="1" height="1">
          <g id="pattern0_14_550_inner">
            <circle cx="2.5" cy="2.5" r="2.5" fill="#D5D8FF"/>
          </g>
        </pattern>
      </defs>
    </svg>

    <div class="activities-right">
      <div class="activities-list" data-ref="slider">
        {% for activity in activities %}
          <div class="activity-item">
            <h2>{{ activity.title }}</h2>
            <p>{{ activity.description }}</p>
          </div>
        {% endfor %}
      </div>

      <div class="activities-slider">
        <div class="dots" data-ref="dots">
          {% for item in activities %}
            <button class="point"></button>
          {% endfor %}
        </div>

        <div class="arrows">
          <button class="swipe-left" data-ref="prev">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 12H5" stroke="#10001D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12 5L5 12L12 19" stroke="#10001D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>

          <button class="swipe-right" data-ref="next">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 12H19" stroke="#10001D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12 5L19 12L12 19" stroke="#10001D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="activities-bottom">
    <svg class="dotted-overlay" width="710" height="83" viewBox="0 0 710 83" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <rect width="710" height="83" fill="url(#pattern0_114_12)" fill-opacity="0.1"/>
      <defs>
        <pattern id="pattern0_114_12" patternUnits="userSpaceOnUse" patternTransform="matrix(10.15 0 0 10.15 0 0)" preserveAspectRatio="none" viewBox="0 0 14.5 14.5" width="1" height="1">
          <g id="pattern0_114_12_inner">
            <circle cx="2.5" cy="2.5" r="2.5" fill="#D5D8FF"/>
          </g>
        </pattern>
      </defs>
    </svg>

    <h1>{{ bottomText }}</h1>
  </div>
</flynt-component>
